    body {
        background-image: url('cc.jpeg');
        background-size: courier%;
        color: white;
        font-family: Arial, sans-serif;
    }
    h1, h2, h3, h4, h5, h6 {
        text-align: center;
    }
    form {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
    }
    input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    input[type="number"] {
        width: 40px;
	height: 8px;
        padding: 5px;
        border-radius: 1px;
        border: 2px solid #ccc;
    }
	
	<link rel="stylesheet" type="text/css" href="style.css" />

